[user]
	name = Velichko Stoev
	email = veli4kostoev@gmail.com
[alias]
	co = checkout
	c = commit
	s = status
	br = branch
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[credential]
	helper = cache --timeout=3600
